.Common-Strech 
{
	width:100%;
	height:100%;
}

.Common-StrechedBG
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.Common-ZoomedBG
{
	left:0px;
	top:0px;
	height:100%;
}

.Common-FontData
{
	font: normal 9pt Tahoma;
}



.Common-FontMenu
{
	font: normal 9pt Tahoma;
}

.Common-FontLabel
{
	font: bold 12pt Arial;
}

.Common-SubFontLabel
{
	font: bold 10pt Arial;
}

.Common-FontSigns
{
	font:bold 9pt webdings;
}

.Common-Icon13X13
{
	border:none;
	width:13px;
	height:13px;
}

.Common-Icon16X16
{
	border:none;
	width:16px;
	height:16px;
}

.Common-Icon24X24
{
	border:none;
	width:24px;
	height:24px;
}

.Common-Icon32X32
{
	border:none;
	width:32px;
	height:32px;
}
.Common-Icon48X48
{
	border:none;
	width:48px;
	height:48px;
}




.Common-DragLayer
{
	position:absolute;
	display:none;
	top:0px;
	left:0px;
}


.Common-MoveCursor
{
	cursor:move;
}

.Common-HorizontalResize
{
	cursor:e-resize;
}

.Common-VerticalResize
{
	cursor:n-resize;
}

.Common-RightUpResize
{
	cursor:ne-resize;
}

.Common-LeftUpResize
{
	cursor:nw-resize;
}

.Common-Control
{
	width:100%;
	height:100%;
	overflow:hidden;
}

.Common-MaskedModalWindowBox
{
	[Skin.WindowModalMaskStyle];
	[Skin.WindowModalMaskOpacity];
}

.Common-TransparentModalWindowBox
{
	background-color:White;
	[Skin.WindowModalTransparentMaskOpacity];
}

.Common-LoadingAnimationBox
{
	/*[Skin.LoadingAnimationBox];*/
	background-image: url(Resources.Gizmox.WebGUI.Forms.Skins.CommonSkin.ajax-loader.gif.ashx);
    background-position: center center;
    background-repeat: no-repeat;
}

.Common-DefaultCursor
{
	cursor:default;
}