.selector_close .text-icon
{
    display: inline;
    font-family: arial, 宋体, sans-serif;
    font-size: 18px;
    height:18px;
    line-height: 18px;
    vertical-align:top;
    margin-left: 5px;
}