.Panel-Control
{
	[Skin.Border];
	[Skin.Background];
}

.SupperPanel-Radius
{
   behavior: url(/PIE.htc);
}

.SupperPanel-Hidden
{
    display:none;
}

.SupperPanel-VHidden
{
     visibility:hidden;
}