.Panel-Control
{
	[Skin.Border];
	[Skin.Background];
}

.HoverPanelHidden
{
	display:none;
}

.HoverPanelRadius
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}