.Panel-Control
{
	[Skin.Border];
	[Skin.Background];
}

.SupperPanel-Radius
{
	behavior: url(Static.Bronze.Controls.VWG.HtcFileLoader.wgx);
	-pie-track-hover:false;
	-pie-track-active:false;
   /*behavior: url(/PIE.htc);*/
}

.SupperPanel-Hidden
{
    display:none;
}

.SupperPanel-VHidden
{
     visibility:hidden;
}

.SupperPanel-Arrow
{
    font-size: 0;  
    line-height: 0;  
    padding: 0; 
    position: absolute;
}

.arrow-top , .arrow-top-in 
{
    border-width: 0 9px 9px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #8A8A8A;
    left:10px;
    top:0px;
}

.arrow-top-in {
    border-bottom-color: #FFF;
    top:1px!important;
}

.arrow-bottom , .arrow-bottom-in 
{
    border-width: 9px 9px 0;
    border-style: solid dashed dashed;
    border-color: #8A8A8A transparent transparent;
    left:10px;
    top:0px;
}

.arrow-left , .arrow-left-in 
{
    border-width: 9px 9px 9px 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent  #8A8A8A transparent transparent;
    left:0px;
    top:10px;
}

.arrow-right , .arrow-right-in 
{
    border-width: 9px 0 9px 9px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #8A8A8A;
    left:0px;
    top:10px;
}